.view-all{
    width: 100%;
    .simple-slide-news{
        .slick-initialized{
            width: 90%;
            margin:0% 5%;
            .slick-list{
                .slick-track{
                    width: 100%;                    
                    .slick-slide{
                        padding: 0.2%;
                    }
                }
            }
        }
    }
}