.newitem {
    width: 100%;
    .nav-list {
        margin:0% 5%;
        font-size: 20px;
        margin-bottom: 2%;
        .nav-item:hover{
            // border-bottom: 2px solid orange;

                .nav-link{
                    border-bottom: 2px solid orange;
                    color: orange;
                }
        }
        
    }

    .list-item {
        margin: 0% 5%;
    }

}