.homeslide-list{
    .slide-carousel{
        width: 80%;
        margin: 0% 7%;
        .card-deck{
        width: 100%;
            .card{
               
                margin-right: 2%; 
                border: none;
            }
        }
    }
}
